<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        
        
        .home{
				width:100%;
				/* height:100%; */
				position: fixed;
				top: 0;
				left: 0;
				background-color:#fff;
				margin:0 auto;
			}
			.title{
			width:100%;
			height:90px;
            float: left;
			color:#ffffff;
            margin-bottom: 3%;
 			background-color:#0e73b6fd;
			border-bottom:1px solid #ffffff;
			font-size:24pt;
			font-family:"楷体";
			line-height:90px;				
		}	
		.title img{
            margin-top:18px;
            margin-right: 3%;
            margin-left: 5%;
            width: 55px;
            float: left;
        }
        .down{
            margin-top:50px;
        }
        .project{
            width:18%;
            height:250px;
            background-color: #0e73b6fd;
            margin-left: 10%;
            margin-top:100px;
            text-align: center;
            /* justify-content: center; */
            float: left;
            cursor:pointer;
            
            /* padding-top: 50px; */
            
        }
        .project p{
            margin:0 auto;
            color:white;
            font-size: 40px;
            font-family: "楷体";
            line-height: 250px;
        }
    </style>
</head>
<body leftmargin="0">
    <div class="home">
        <div class="title">
                <img src='../images/E.png'/>
                <%= title %>					
        </div>
        <div class="down">
            <div class="project" onclick="projectSys()">
                <p>项目系统</p>
            </div>
            <div class="project" onclick="userSys()">
                <p>用户系统</p>
            </div>
            <div class="project" onclick="personSys()">
                <p>人物系统</p>
            </div>
            <div class="project" onclick="newsSys()">
                <p>新闻系统</p>
            </div>
            <div class="project" onclick="managerSys()">
                <p>管理员系统</p>
            </div>
        </div>
    </div>	
</body>	
<script>
    function projectSys(){
        window.location = "http://localhost:3000/projectsys";
    }
</script>
</html>